<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>

        <div class="container">

            <h2> <%= size%> Contacts synchronized using Heroku connect</h2>

            <ul>
                <% results.forEach(function(r) { %>
                    <li><%= r.firstname %> <%= r.lastname %></li>
                <% }); %>
            </ul>

        </div>

    </body>
</html>