<!DOCTYPE html>
<html>
<head>
  
</head>

<body>


<div class="jumbotron text-center">
    Welcome to ceasars POC app
</div>

<div class="container">
  <a href="/offers">offers</a>
  <a href="/contacts">contacts</a>
</div>


</body>
</html>
