<!DOCTYPE html>
<html>
    <head>
  
    </head>

    <body>

        <div class="jumbotron text-center">
            Welcome to Ceasars POC node.js app
        </div>

        <div class="container">
            <ul>
                <li><a href="/offers">offers</a></li>
                </br>
                <li><a href="/contacts">contacts</a></li>
            </ul>
        </div>

    </body>
</html>
