<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>

        <div class="container">

            <h2>Ceasars Offers (<%= size%>)</h2>

            <ul>
                <% results.forEach(function(r) { %>
                    <li><%= r.name %></li>
                <% }); %>
            </ul>

        </div>

    </body>
</html>
